* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #121212;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__outer {
    border-radius: 5%;
    background-color: #fefefe;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    width: 375px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__inner {
    height: 96%;
    width: 96%;
    background-color: #2d2d2d;
    border-radius: 5%;
}